/*
Pink: #F82641; TOO BRIGHT
Yellow: #FFAA1D;
Green: #9DC52C;
Blue: #59BFC5; TOO SATURATED
DarkBlue: #25335A;
Black: #131D2E;
DarkGrey: #767A82;
LightGrey: #9EA1A7;
Cream: #F6FBEE;


*/


div, article, section, nav, p, a, img, h1, h2{
	margin: 0px;
	padding: 0px;
}

body{
	overflow-x: hidden; 
	overflow-y: hidden; 
/* 	background: url(http://54.235.78.70/pulse/images/diagonal.png) repeat;  */
	zoom: normal;
	font-family:'light',Sans-Serif;
	margin: 0px;	
}

p{
	color:white;
	font-size: 1.4em;
	margin: 7px;
	
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;

}

input:focus{
	outline: none;
}

/*
section{
	overflow-y: auto;
}
*/

/* -----------------------------------OVERLAYS----------------------------------------- */

div.overlay{
	width: 320px;
	height: 600px;
	background-color: rgba(19,29,47,0.98);
	position:fixed;
}

img.XButton{
	width: 50px;
	position: fixed;
	bottom: 10px;
	left: 134px;
}

/* -----------------------------------Badge Overlays----------------------------------------- */

div.badgeOverlay{
	position: fixed;
}

h2.badgeNameOverlay{
	position: fixed;
	top: 80px;
	width: 98%;
	margin-left: 1%;
	text-align: center;
	color: white;
	font-size: 1.6em;
}

img.badgeImageOverlay{
	position: fixed;
	left: 90px;
	top: 130px;
	width: 140px;
}

p.badgePointsOverlay{
	position: fixed;
	top: 275px;
	width: 90%;
	margin-left: 5%;
	text-align: center;
	font-family: light;
	font-style: italic;
}

p.badgeDiscriptionOverlay{
	position: fixed;
	top: 325px;
	width: 80%;
	margin-left: 10%;
	text-align: center;
	font-size: 1.5em;
}

/* -----------------------------------ADD OVERLAY----------------------------------------- */

div.addChoreOverlay{
	width: 320px;
	height: 600px;
	background-color: rgba(19,29,47,0.98);
	position:fixed;
}

h2.addChoreOverlay{
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}
img.timerButton{
	width:40%;
	margin-left: 30%;
	margin-bottom: 30px;
}
img.orImage{
	width: 100%;
}
p.addChoreInput{
	text-align: right;
	font-family:'medium',Sans-Serif;
	padding-right: 5px; 
/* 	font-size: 1.7em; */
}
span.choreOverlayLabel{
	font-size: 1.2em;	
}

p#date{}
p#startTime{}
p#endTime{}

input.choreInput {
	-webkit-appearance: none;
	background-color: #59BFC5 /* #9DC52C */;
	border-radius: 0px;
	border: 0px;
	height: 25px;
	width: 125px;
	vertical-align:text-bottom;
	font-family:'medium',Sans-Serif;
	text-align: center;
	font-size: 1em;
	color: white;
}

input#date{}
input#startTime{}
input#endTime{}

p.cancelSaveButtons{
	font-family:'medium',Sans-Serif;
	font-size: 1.5em;
	background-color: #F82641;
	padding: 5px;
	text-align: center;
	display: inline-block;
	position: absolute;
	bottom: 40px;

}

p#cancelButton{
	width: 100px;
	left: 45px;
}
p#saveButton{
	width: 80px;
	right: 45px;
}


/* -----------------------------------TOP NAV----------------------------------------- */

nav.topNav{
	width:100%;
	background-color: #59BFC5;
/* 	height:100px; */
	position: fixed;
	top:0px;
}

img#refreshButton{
	width: 27px;
	position: fixed;
	top:10px;
	right:10px;
	float:right;	
}

nav.bottomNav{
	width:100%;
	position: fixed;
	bottom:0px;
}

section.iconHolder{
	width:100%;
	background-color: #59BFC5;
	position: absolute;
	bottom:0px;
}

h1{
	font-family:'medium',Sans-Serif;
	color: white;
	text-align: center;
	margin-top: 8px;
	margin-bottom: 8px;
	font-size: 1.7em;
}

h2{
	font-family:'light',Sans-Serif;
	color: #767A82;
	margin-top:5px;
	margin-bottom:5px;
}

h1.smaller{
	font-family:'medium',Sans-Serif;
	color: white;
	text-align: center;
	font-size: 1.3em;
	margin: 5px;
}

/* -----------------------------------BOTTOM NAV----------------------------------------- */

img.navIcons{
	width: 38px;
	margin: 5px;
}

nav.bottomNav section.iconHolder img#home{
	margin-left: 12px;
}
nav.bottomNav section.iconHolder img#stats{
	margin-left: 10px;
}
nav.bottomNav section.iconHolder img#settings{
	margin-left: 95px;
}
nav.bottomNav section.iconHolder img#notifications{
	margin-left: 10px;
}

img.addButton{
	width: 72px;
/* 	bottom:0px; */
	position: relative;
	top: 5px;
	left:38.5%;
}



/* -----------------------------------HOME----------------------------------------- */


section#HOME{
	position:absolute;
	width:100%;
	top:44px;
	margin-top: 20px;
}

section#HOME article#progress h2#yourTotalToday{
/* 	position: fixed; */
	margin-top: -145px;	
	text-align: center;
/* 	top:100px; */
}

section#HOME article#notification{
	background-color: #9DC52C;
/* 	background-color: red; */
	padding:3px 0 20px 0;
	height: 100px;
	position: fixed;
/* 	top: 390px; */
	bottom:55px;
	overflow-y: auto;
}


/* -----------------------------------STATS----------------------------------------- */
nav.statsNav{
	position:fixed;
	top:48px;
	color: white;
	font-size: 1.3em;
	left:-2px;
}

nav.statsNav table td{
/* 	width: 100%; */
	background-color: #59BFC5;
	text-align: center;
	padding: 7px;
	padding-left: 10px;
	padding-right: 10px;
}

div.mask{
	position:fixed;
	width: 100%;
	height: 90px;
	background-color: white;
}

/* -----------------------------------BADGES----------------------------------------- */

article.badges{
	width:100%;
	height: 452px;
	position:absolute;
	top:90px;
	overflow-y: auto;
	padding-top:3px;
	padding-bottom:70px;
}

table.badgeTable{
	width: 97%;
	text-align:center;
}

table.badgeTable img{
	width:92%;
}

table.badgeTable td{
	padding-bottom: 5px;	
}


/* -----------------------------------POINTS PAGE----------------------------------------- */

div#pointsImageHolder{
	position: absolute;
	top:145px;
	left:60px;
	width: 236px;
	height: 375px;
/* 	background-color: rgba(208,0,255,0.34); */
	overflow-x:scroll;
}

img#pointsFrame{
	position: absolute;
	top:93px;
	left:5px;
	width: 310px;
} 

img#pointsImage{
	width:690px; 
}

div.hotspot{
	width:30px;
	height: 30px;
	position: absolute;
/* 	background-color: rgba(255,0,0,0.56); */

}

div#hotspot1{
	top:190px;
	left:18px;
}
div#hotspot2{
	top:173px;
	left:95px;
}
div#hotspot3{
	top:155px;
	left:125px;
}
div#hotspot4{
	top:117px;
	left:263px;
}
div#hotspot5{
	top:80px;
	left:363px;
}
div#hotspot6{
	top:65px;
	left:497px;
}
div#hotspot7{
	top:22px;
	left:533px;
}
div#hotspot8{
	top:-5px;
	left:660px;
}


/* -----------------------------------CALENDAR----------------------------------------- */


h2.calendarMonth{
	width:100%;
	padding:5px;
	background-color: #131D2E;
	position: fixed;
	top: 84px;
	text-align: center;
	color: white;
	font-size: 1.4em;
}

table.daysOfWeek{
	position: fixed;
	background-color: #F82641;
	top: 123px;
	color: white;
	padding: 4px;
	font-size: 1.3em;
	width: 100%;
	padding-top:6px;
	padding-bottom:6px;
}

table.daysOfWeek td{
	text-align:center;
	width:20px;
}

div.datesHolder{
	position: fixed;
	top: 167px;
	width: 100%;
	height: 225px;
	overflow-y: scroll;
}

table.dates{
	background-color: #F82641;
	color: white;
	padding: 4px;
	font-size: 1.3em;
	width: 100%;
	padding-bottom: 4px;
}


table.dates td{
	padding-top:8px;
	padding-bottom:8px;
	text-align:center;
	width:20px;
}

div#calendarDayHolder{
	position: fixed;
	top:388px;
	width: 100%;
	height: 115px;
	overflow: hidden;
}
		

h2#timelineDay{
	text-align: center;	
	font-size: 1.2em;
}

img#timeline{
	width: 98%;
	position: absolute;
	top: 27px;
	margin: 1%;
}	
			
/* -----------------------------------NOTIFICATIONS----------------------------------------- */


section#NOTIFICATIONS article#notificationHolder{
/* 	background-color: red; */
	width:100%;
	height: 452px;
	position:absolute;
	top:48px;
	overflow-y: auto;
	padding-top:3px;
	padding-bottom:10px;
}

section#NOTIFICATIONS article#notificationHolder article.notification{
	background-color: #9DC52C;
	margin: 5px 8px 5px 8px;
	padding: 5px 2px 5px 4px;
}

section#NOTIFICATIONS article#notificationHolder article.coupon{
	background-color: #FFAA1D;
	border-width: 14px; 
	border-image:url(../images/border.png) 32 32 round;
	border-top:0px;
	border-bottom:0px;
	margin: 5px 0px 5px 0px;
}

section#NOTIFICATIONS article#notificationHolder article.notification p{
	text-align:left;
}



