/*
Pink: #F82641; TOO BRIGHT
Yellow: #FFAA1D;
Green: #9DC52C;
Blue: #59BFC5; TOO SATURATED
DarkBlue: #25335A;
Black: #131D2E;
DarkGrey: #767A82;
LightGrey: #9EA1A7;
Cream: #F6FBEE;


*/


div, article, section, nav, p, a, img, h1, h2{
	margin: 0px;
	padding: 0px;
}

body{
	overflow-x: hidden; 
	overflow-y: hidden; 
/* 	background: url(http://54.235.78.70/pulse/images/diagonal.png) repeat;  */
	zoom: normal;
	font-family:'light',Sans-Serif;
	margin: 0px;	
}

p{
	color:white;
	font-size: 1.4em;
	margin: 7px;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;
	
}

input:focus{
	outline: none;
}

/*
section{
	overflow-y: auto;
}
*/

nav.topNav{
	width:100%;
	background-color: #59BFC5;
/* 	height:100px; */
	position: absolute;
	top:0px;
}

nav.bottomNav{
	width:100%;
	position: fixed;
	bottom:0px;
}

section.iconHolder{
	width:100%;
	background-color: #59BFC5;
	position: absolute;
	bottom:0px;
}

h1{
	font-family:'medium',Sans-Serif;
	color: white;
	text-align: center;
	margin-top: 8px;
	margin-bottom: 8px;
	font-size: 1.7em;
}

h2{
	font-family:'light',Sans-Serif;
	color: #767A82;
	margin-top:5px;
	margin-bottom:5px;
}

h1.smaller{
	font-family:'medium',Sans-Serif;
	color: white;
	text-align: center;
	font-size: 1.3em;
	margin: 5px;
}

img.navIcons{
	width: 38px;
	margin: 5px;
}

nav.bottomNav section.iconHolder img#home{
	margin-left: 12px;
}
nav.bottomNav section.iconHolder img#stats{
	margin-left: 10px;
}
nav.bottomNav section.iconHolder img#settings{
	margin-left: 95px;
}
nav.bottomNav section.iconHolder img#notifications{
	margin-left: 10px;
}

img.addButton{
	width: 72px;
/* 	bottom:0px; */
	position: relative;
	top: 5px;
	left:38.5%;
}





section#HOME{
	position:absolute;
	width:100%;
	top:44px;
	margin-top: 20px;
}

section#HOME article#progress h2#yourTotalToday{
/* 	position: absolute; */
	margin-top: -145px;	
/* 	text-align: center; */
}

section#HOME article#notification{
	background-color: #9DC52C;
/* 	background-color: red; */
	padding:3px 0 20px 0;
	height: 100px;
	position: fixed;
/* 	top: 390px; */
	bottom:55px;
	overflow-y: auto;
}





section#NOTIFICATIONS article#notificationHolder{
/* 	background-color: red; */
	width:100%;
	height: 452px;
	position:absolute;
	top:48px;
	overflow-y: auto;
	padding-top:3px;
	padding-bottom:10px;
}

section#NOTIFICATIONS article#notificationHolder article.notification{
	background-color: #9DC52C;
	margin: 5px 8px 5px 8px;
	padding: 5px 2px 5px 4px;
}

section#NOTIFICATIONS article#notificationHolder article.coupon{
	background-color: #FFAA1D;
	border-width: 14px; 
	border-image:url(../images/border.png) 32 32 round;
	border-top:0px;
	border-bottom:0px;
	margin: 5px 0px 5px 0px;
}

section#NOTIFICATIONS article#notificationHolder article.notification p{
	text-align:left;
}

